.links a{
  color: #FFF;
font-family: Inter!important;
font-size: 13.234px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 20px!important;
}

.row .col-lg-2{
  height:260px;
}
.f_h3{
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
letter-spacing: -0.16px;
}

footer input {
  border: 1px solid #FFF;

background: #000;
}