.general-row{
  border-bottom:1px solid white!important; border-top: 1px solid white!important;
}

.brd {
border-right:1px solid white;
  
}
.links a{
  color: #FFF;
font-family: Inter!important;
font-size: 13.234px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 20px!important;
}

.row .col-lg-2{
  height:260px;
}
.f_h3{
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
letter-spacing: -0.16px;
}

.sus{
  color: #FFFFFF!important;

font-family: Inter!important;
font-size: 20px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 25px!important; /* 125% */
letter-spacing: 0.4px!important;
}
.section-sections--16269646069820__footer-padding {
  padding-top:25px!important;
padding-bottom:5px!important;
}
footer input {
  border: 1px solid #FFFFFF!important;

background: black!important;
  color: #949393!important;
height: 50px!important;
font-family: Inter!important;
font-size: 12px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 20px!important; /* 166.667% */
  width: 503px!important;
}
.copyr{

  color: #FFF;
font-family: Inter;
font-size: 11.25px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 142.222% */
letter-spacing: 0.12px;
}
.btn-sus{
  color: #000!important;
border-radius:0px!important;
font-family: Inter!important;
font-size: 14px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 25px!important; /* 178.571% */
letter-spacing: 0.4px!important;
  width: 194px!important;
  height: 50px !important;
  border: 1px solid white !important;
color:black!important;
background: white !important;
}
footer input:placeholder {
  color: #949393!important;

font-family: Inter!important;
font-size: 12px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 20px!important; /* 166.667% */
}

@media (min-width: 300px) and (max-width: 750px) {
  form input {
     width: 100%!important;
  }

  .brd {
border-right:0px solid white;
  
}

  
}