.links a{
  color: #FFF;
font-family: Inter!important;
font-size: 13.234px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 20px!important;
}

.row .col-lg-2{
  height:260px;
}
.f_h3{
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
letter-spacing: -0.16px;
}

.sus{
  color: #FFFFFF!important;

font-family: Inter!important;
font-size: 20px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 25px!important; /* 125% */
letter-spacing: 0.4px!important;
}

footer input {
  border: 1px solid #FFFFFF!important;

background: black!important;
  color: #949393!important;
height: 50px!important;
font-family: Inter!important;
font-size: 12px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 20px!important; /* 166.667% */
  width: 503px!important;
}
.btn-sus{
  color: #000;

font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 178.571% */
letter-spacing: 0.4px;
  width: 194px;
  height: 50px !important;
  border: 1px solid white !important;
color:black!important;
background: white !important;
}
footer input:placeholder {
  color: #949393!important;

font-family: Inter!important;
font-size: 12px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 20px!important; /* 166.667% */
}